body {
    background-color: wheat;
    color: darkslategray;
    font-family: sans-serif;
}

#links {
    padding: 10px 0px 0px 50px;
}

.nav {
    padding: 10px;
    display: inline;
    color: seagreen;
}

#pageHeader {
    background-color: tomato;
    color: mintcream;
    padding: 30px;
    margin-left: 2%;
    margin-right: 2%;
}

.sectionHeader {
    padding: 50px 50px 50px 100px
}

.listings {
    margin: 0px 0px 50px 150px;
}

.btn {
    margin-top: 10px;
    float: right;
}

.btn-danger {
    float: none;
}

.form-control {
    margin-bottom: 20px;
}

.card {
    display: inline-block;
    margin: 20px;
    width: 300px;
}

.card-title {
    text-align: center;
}

.card-body {
    text-align: center;
}